<div class="section-wrapper">
    <section class="section about" id="about">
        <div class="myinfo_container">
            <div class="myinfo_introduce" style="animation: 0.7s ease-out 0s 1 normal both running slide-right; opacity: 1;">
              <div class="myinfo_introduce_title">꾸준히 나아가는 개발자</div>
              <div class="myinfo_introduce_text">
                <span class="highlight">그냥 그런 개발자로 만족할 것인가?</span> 개발 공부를 하면서
                가장 오래 고민한 주제입니다. 개발 공부를 하여서 늘상 같은 업무를 반복하며 단순히 똑같은 코드만
                치는 개발자가 되고 싶지 않습니다.             
                
    
              </div>
              <div class="myinfo_introduce_text">
                저는 18년 10월
                <span class="highlight">'자바기반 웹 개발자'</span> 국비지원
                교육을 통해 개발을 시작하였습니다. 현재는 Javascript의 매력에 빠져
                더 좋은 <span class="highlight">프론트엔드 개발자</span>가 되기
                위해 노력하고 있습니다. 아직은 부족하지만 UX/UI에 많은 관심을
                가지고 있으며 최신 기술과 React를 좋아합니다.
              </div>
              <div class="myinfo_introduce_text">
                앞으로 좋은 모습 보여드리겠습니다. 방문하고, 읽어주셔서
                감사합니다.
              </div>
            </div>
            <div class="myinfo_introduce2" style="animation: 0.7s ease-out 0s 1 normal both running slide-left; opacity: 1;">
              <div class="myinfo_introduce2_book">
                <div class="myinfo_introduce2_title">Im Reading</div>
                <div>
                  <img class="myinfo_introduce2_img" src="./src/myinfo_img/RN.png" alt="ui-ux" style="opacity: 1;">
                </div>
              </div>
              <div class="myinfo_introduce2_like">
                <div class="myinfo_introduce2_title">Recent Like</div>
                <div>
                  <img class="myinfo_introduce2_img" src="./src/myinfo_img/mango.png" alt="ui-ux" style="opacity: 1;">
                </div>
              </div>
              <div class="myinfo_introduce2_interest">
                <div class="myinfo_introduce2_title">Interest In Recently</div>
                <div>
                  <img class="myinfo_introduce2_img" src="./src/myinfo_img/ui-ux_design.png" alt="ui-ux" style="opacity: 1;">
                  <img class="myinfo_introduce2_img" src="./src/myinfo_img/fp.png" alt="fp" style="opacity: 1;">
                  <img class="myinfo_introduce2_img" src="./src/myinfo_img/three.png" alt="threejs" style="opacity: 1;">
                </div>
              </div>
            </div>
          </div>
        
        <!-- <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on web applications; frontend and backend. I've worked on smartphone apps, both native and hybrid, and I have experience with Linux system administration. I have a keen interest in securing information systems and building secure systems.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
        <div> 

        </div> -->
    </section>
</div>
