<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <div>
        <table border="0">
          <tr>
            <td width=200 height=200>
              <img src="../assets/images/person.PNG"/>
            </td>
            <td width=400 height=200>
              <p><b>이름</b></p>
              <p>박상순</p>
            </td>
            <td width=200 height=200>
              <img src="../assets/images/calender.PNG"/>
            </td>
            <td width=350 height=200>
              <p><b>생년월일</b></p>
              <p>92.02.08</p>
            </td>
            <td width=200 height=200>
              <img src="../assets/images/location.PNG"/>
            </td>
            <td width=400 height=200>
              <p><b>주소지</b></p>
              <p>경기도 성남시</p>
            </td>
          </tr>
          <tr>
            <td width=200 height=200>
              <img src="../assets/images/telephone.PNG"/>
            </td>
            <td width=400 height=200>
              <p><b>연락처</b></p>
              <p>010-4744-4835</p>
            </td>
            <td width=200 height=200>
              <img src="../assets/images/email.PNG" />
            </td>
            <td width=350 height=200>
              <p><b>이메일</b></p>
              <p>jason1950@naver.com</p>
            </td>
            <td width=200 height=200>
              <img src="../assets/images/pencil.PNG"/>
            </td>
            <td width=400 height=200>
              <p><b>학력</b></p>
              <p>경희대학교</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>