<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <div>
        <table border="0">
          <tr>
            <td>
              <img src="{{ site.person }}" class="person-pic" />
            </td>
            <td>
              <p><b>이름</b></p>
              <p>박상순</p>
            </td>
            <td>
              <img src="{{ site.calender }}" class="person-pic" />
            </td>
            <td>
              <p><b>생년월일</b></p>
              <p>92.02.08</p>
            </td>
            <td>
              <img src="{{ site.location }}" class="person-pic" />
            </td>
            <td>
              <p><b>주소지</b></p>
              <p>경기도 성남시</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="{{ site.telephone }}" class="person-pic" />
            </td>
            <td>
              <p><b>연락처</b></p>
              <p>010-4744-4835</p>
            </td>
            <td>
              <img src="{{ site.email }}" class="person-pic" />
            </td>
            <td>
              <p><b>이메일</b></p>
              <p>jason1950@naver.com</p>
            </td>
            <td>
              <img src="{{ site.pencil }}" class="person-pic" />
            </td>
            <td>
              <p><b>학력</b></p>
              <p>경희대학교</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>